*{
    box-sizing: border-box;
}
header{
    background-color: #dccfba;
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 1rem;
}
main{
    display:flex;
    gap: 2rem;
}
main section{
    flex:1;
    border: 1px solid purple;
}
main section:nth-child(odd){
    background-color: aquamarine;
}
main section h2{
    background-color: green;
    color: beige;
    text-align:center;
    margin-top: 0;
    padding: 0.5rem;
}
main section ul{
    padding-left:  0;
}
main section ul li{
    list-style-type: none;
    margin-bottom: 1rem;
}
main section  ul li span{
    font-weight: bold;
}
footer{
    display: flex;
    background-color: violet;
    color: black;
    justify-content: space-between;
}